* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container {
  width: 700px;
  border: black solid 2px;
}

#display {
  background-color: gray;
  height: 100px;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: xx-large;
  padding: 20px;
}

#outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#navbar {
  background-color: slategrey;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#navbar ul li {
  list-style: none;
  display: inline;
  margin-left: 10px;
}

.row {
  display: flex;
  border-top: black solid 2px;
}

.button-shape,
.button-zero {
  padding: 20px;
  font-size: x-large;
}

button {
  border: none;
}

.button-shape {
 width: 25%;
}

.button-zero {
  width: 50%;
}

.button-gray {
  background-color: lightgray;
  border-right: black solid 2px;
}

.button-orange {
  background-color: orange;
}
